<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="home">
    <div class="title">
      <h1>The Tech Blog</h1>
    </div>
    <ul class="posts">
      {{#each posts}}
        <li>
          <div class="top-card"><a href="/posts/{{id}}"><h2
                class="post-title"
              >{{title}}</h2></a>
            <p class="card-user-info">Posted by:
              {{user.username}}
              on
              {{format_date this.createdAt}}</p></div>
          <div class="post-box">
            <p>{{content}}</p>
          </div>
        </li>
      {{/each}}
    </ul>
  </body>
</html>